{% extends '_base.html' %}

{% block content %}
    {{ formset.media }}
    <h1>注文編集</h1>

    <form action="" method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        {{ formset.non_form_errors }}
        <table class="table table-sm table-borderless" id="orderTable">
            <thead>
            <tr>
                <th>受注日</th>
                <th>code</th>
                <th>注文数</th>
                <th>在庫数</th>
                <th>削除</th>
            </tr>
            </thead>
            <tbody>
            {% for form in formset %}
                <tr>
                    <td>
                        {{ form.date }}
                        {{ form.date.errors }}
                    </td>
                    <td>
                        {{ form.code }}
                        {{ form.code.errors }}
                    </td>
                    <td>
                        {{ form.quantity }}
                        {{ form.quantity.errors }}
                    </td>
                    <td class="align-middle" id="id_form-{{ forloop.counter0 }}-zaiko"></td>
                    <td class="align-middle">{{ form.DELETE }}</td>
                </tr>
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
            {% endfor %}

            </tbody>
        </table>
        <button class="btn btn-primary" type="submit">保存</button>
    </form>
{% endblock content %}

{% block extrajs %}
    <script>
        jQuery(function ($) {
            $("#orderAddLink").addClass('active');
        });
    </script>

    <script>
        jQuery(function ($) {
            const stocks = {};
            {% for stock in stock_list %}
                stocks[{{ stock.pk }}] = {{ stock.quantity }};
            {% endfor %}

            {# はじめからCodeに入力されていたら在庫数を表示する #}
            {% for form in formset %}
                {% if form.code.value %}
                    $("#id_form-" + {{ forloop.counter0 }} +"-zaiko").text(stocks[{{ form.code.value }}].toLocaleString());
                {% endif %}
            {% endfor %}

            {# Codeが変更されたら在庫数を更新する #}
            $("table#orderTable").on("change", "select", function () {
                const changedRow = $(this).attr("id").match(/\d+/);
                $("#id_form-" + changedRow + "-zaiko").text(stocks[$(this).val()].toLocaleString());
            });
        });
    </script>
{% endblock extrajs %}